@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --green-E4EFE7: #E4EFE7;
  --green-99BC85: #99BC85;
  --begie-FAF1E6: #FAF1E6;
  --begie-FDFAF6: #FDFAF6;
  --green-6F826A:#6F826A;

  

}
@font-face {
  font-family: 'CustomFont'; /* نام فونت */
  src: url('../../public/fonts/baloo-da-2-2-cufonfonts/BalooDa2-Regular.ttf') format('truetype'); /* مسیر فایل فونت */
  font-weight: normal; /* وزن فونت */
  font-style: normal; /* حالت فونت */
}
@font-face {
  font-family: 'lalehzar'; /* نام فونت */
  src: url('../../public/fonts/Lalezar-Regular/Lalezar-Regular\ a4fran3.ttf') format('truetype'); /* مسیر فایل فونت */
  font-weight: normal; /* وزن فونت */
  font-style: normal; /* حالت فونت */
}
@font-face {
  font-family: 'tahoma'; /* نام فونت */
  src: url('../../public/fonts/Tahoma/Tahoma.ttf') format('truetype'); /* مسیر فایل فونت */
  font-weight: normal; /* وزن فونت */
  font-style: normal; /* حالت فونت */
}

@font-face {
  font-family: 'IRANSans'; /* نام فونت */
  src: url('../../public/fonts/IRANSans-FaNum/IRANSans-FaNum.ttf') format('truetype'); /* مسیر فایل فونت */
  font-weight: normal; /* وزن فونت */
  font-style: normal; /* حالت فونت */
}

body{
  background-color: var(--green-E4EFE7);
  display: flex;
  flex-direction: column;
 margin: 0;
 height: 100vh;

 font-family: 'IRANSans', sans-serif;
}
.main_content{
  flex-grow: 1;
}
.button{
  background: var(--green-99BC85);
  color: white;
   border-radius: 5px;
   cursor: pointer;
}
.button:hover{
background-color: #6F826A;
}